<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loongwind.qr.scan.qr_scan" >

    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:hardwareAccelerated="true">
        <activity
            android:name=".QrScanActivity"
            android:theme="@style/FullScreenTheme"
            android:exported="false" />
    </application>

</manifest>